<nav class="">
    <ul class="">
        <li><a href="/">Home</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="#">Friend Finder</a></li>
        <li><a href="#">Unfollower</a></li>
    </ul>
</nav>