<aside class="sidebar">
    <ul class="list">
        <li><a href="#">Stream</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Friend Finder</a></li>
        <li><a href="#">Unfollower</a></li>
    </ul>
</aside>