<!DOCtype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwitBot</title>

    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <header>
        <h1>Twitbot</h1>
        <%- include partials/navigation %>
    </header>
    <div class="container">
            <main class="main">
                <div class="tweet">
                    <form method="POST" id="tweet">
                        <textarea id="tweet-text" name="tweetText" form="tweet" class="tweet-area" maxlength="140" placeholder="Your tweet" rows="4"
                            cols="45"></textarea>
                        <input class="btn tweet-btn" type="submit" value="Tweet">
                    </form>
                </div>
                <h2 class="h2-margin">Last 10 tweets:</h2>
                <hr>
                <div class="tweet-wrapper">
                    <% if(tweets){%>
                        <% for(let i = 0; i < tweets.length; i++){%>
                            <div class="tweets">
                                <div class="tweet-container">
                                    <img src="imgs/profile.jpg" alt="profile picture">
                                    <p>
                                        <%= tweets[i].text %>
                                    </p>
                                </div>
                                <small>
                                    <%= tweets[i].date %>
                                </small>
                            </div>
                            <%}%>
                                <%}%>
                </div>
            </main>
    </div>
</body>
</html>