<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TwitBot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/stylesheet.css" />

</head>

<body>
    <header class="header">
        <div>
            <div class="hamburger">
                <span id="showMenu">|||</span>
            </div>
            <h1>Twitbot</h1>
        </div>
        <div class="">
            <label for="">Account:</label>
            <select>
                <optgroup>
                    <option>Default</option>
                    <option>Project X</option>
                    <option>Project Y</option>
                    <option>Project Z</option>
                </optgroup>
            </select>
        </div>
    </header>
    <div class="container">
        <aside id="sidebar" class="hide">
            <nav>
                <ul class="nav-list">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/schedule" class="nav-link">Schedule</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Analyitics</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Feed</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Follower</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Unfollower</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <div class="tweet-form">
                <form class="form" method="POST" id="tweet">
                    <textarea id="tweet-text" name="tweetText" form="tweet" cols="30" rows="4" maxlength="140"
                        placeholder="140 characters or less to changee the world"></textarea>
                    <div class="form-group">
                        <input type="file" name="" id="" value="attach medie">
                        <button class="btn" type="submit">Tweet</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="tweet-container">
                <% if(tweets){%>
                <% for(let i = 0; i < tweets.length; i++){%>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg" alt="profile picture">
                        <p class="tweet-text">
                            <%= tweets[i].text %>
                        </p>
                    </div>
                    <small class="tweet-date">
                        <%= tweets[i].date %>
                    </small>
                </div>
                <%}%>
                <%} else{ %>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <div class="tweet">
                    <span class="delete-tweet"></span>
                    <div>
                        <img src="imgs/profile.jpg">
                        <p class="tweet-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur
                            eum
                            quas laboriosam cum corrupti et totam nostrum. Voluptas delectus ipsa excepturi ducimus
                            qui.
                            Nulla culpa sint sapiente molestias! Fuga. </p>
                    </div>
                    <small class="tweet-date">13-24-208</small>
                </div>
                <%}%>
            </div>
        </main>
    </div>
    <script>
        const dropdown = document.getElementById('showMenu');
        const sidebar = document.getElementById('sidebar');
        const hamburger = document.getElementsByClassName('hamburger')
        dropdown.onclick = () => {
            if (sidebar.classList.contains('hide')) {
                sidebar.classList.remove('hide')
                dropdown.classList.add('rotate');
                hamburger[0].classList.add('rotate')

            }
            else {
                sidebar.classList.add('hide');
                hamburger[0].classList.remove('rotate')
            }
        }
    </script>
</body>

</html>