* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1.2em;
  overflow-x: hidden;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}
.header {
  width: 100%;
  height: 5%;
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
}
.header > div {
  display: flex;
}
h1 {
  margin-left: 0.7em;
  padding-top: 0.2em;
}
.container {
  display: flex;
  width: 100%;
  height: 90%;
}
aside {
  width: 10%;
  height: 100%;
  padding-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.nav-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  list-style: none;
}
.nav-item {
  width: 100%;
  font-size: 1.4em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
}
.nav-item:hover {
  border-bottom: 1px solid black;
  border-right: 1px solid grey;
  cursor: pointer;
  font-style: italic;
}
.nav-link {
  color: #000;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
main {
  padding: 2em;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tweet {
  border: 1px solid black;
  border-radius: 0.375em;
  width: 500px;
  padding: 0.2em;
}

hr {
  margin: 3% 0%;
}
.tweet-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tweet-container > div {
  margin: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
}
.tweet-container > div > span {
  align-self: flex-end;
}
.tweet-container > div > span::before {
  content: "X";
  color: red;
  font-size: 1.4em;
  font-weight: bold;
}
.tweet-container > div > small {
  align-self: flex-end;
}
.tweet-container > div > div {
  width: 100%;
  height: 125px;
  display: flex;
}
.tweet-container > div > div > img {
  width: 18%;
  margin-right: 0.5em;
  border-radius: 5em;
}

.btn {
  background-color: black;
  border: 1px solid #f2f2f2;
  letter-spacing: 0.05;
  border-radius: 0.2em;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  width: 6em;
  height: 1.8em;
}

.hamburger {
  margin-top: 0.3em;
  margin-left: 0.5em;
}

.rotate {
  transform: rotate(90deg);
}
.hamburger > span {
  font-size: 1.2em;
  letter-spacing: 0em;
}
.tweet-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 450px;
  margin-left: 3%;
  border-radius: 0.4em;
}
#schedule {
  width: 520px;
}
textarea {
  background-color: white;
  border-radius: 0.2em;
  padding: 0.2em;
  resize: none;
  color: black;
  font-size: 1.2em;
  height: 8em;
  margin-bottom: 0.2em;
  width: 100%;
  border: 1px solid #f2f2f2;
}
.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2em;
}
input {
  background-color: white;
  border: 1px solid #f2f2f2;
  color: black;
  height: 3em;
  font-weight: bold;
}

.hide {
  display: none;
}

img {
  width: 100%;
  height: 100%;
}
